@page "/"

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="User Name" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">

            <a class="btn btn-danger" href="index">Log In</a>
            <a href="signup">Sign Up</a>
        </div>
    </div>
</div>